<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A2 CRUD em NodeJs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h2>Registros</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Sexo</td>
                <td>Nascimento</td>
                <td>E-mail</td>
                <td>Telefone</td>
                <td>Endereço</td>
                <td>Complemento</td>
                <td>CEP</td>
                <td>Nº</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= details.surname %></td>
                <td><%= details.sex %></td>
                <td><%= details.birth %></td>
                <td><%= details.email %></td>
                <td><%= details.phone %></td>
                <td><%= details.address %></td>
                <td><%= details.complement %></td>
                <td><%= details.cep %></td>
                <td><%= details.number %></td>
                <td><a href="/edit/<%= details._id %>">Editar</a> - <a href="/delete/<%= details._id %>">Deletar</a></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary" onclick="window.location='/';">Novo</button>
</body>
</html>